﻿@model hello.nett.Models.Mahasiswa
@{
    ViewBag.Title = "Index";
}

<h1>Mahasiswa</h1>
<p style="color:grey;font-size:15px">List Mahasiswa</p>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal">
    Add Data Mahasiswa
</button>
<div class="modal fade" id="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Tambah Mahasiswa</h4>
            </div>
            @using (Html.BeginForm("Index", "Mahasiswa", FormMethod.Post))
            {
                @Html.ValidationSummary()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nama</label>
                        @Html.TextBoxFor(x => x.Nama, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">NIM</label>
                        @Html.TextBoxFor(x => x.NIM, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Angkatan</label>
                        @Html.TextBoxFor(x => x.Angkatan, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Fakultas</label>
                        @Html.TextBoxFor(x => x.Fakultas, new { @class = "form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Data</button>
                </div>
            }
        </div>
    </div>
</div>
@if (Model != null)
{
    <h3>Data Berhasil Dimasukkan !</h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3"> Nama </div>
            <div class="col-sm-1"> : </div>
            <div class="col-sm-8">@Model.Nama</div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3"> NIM </div>
            <div class="col-sm-1"> : </div>
            <div class="col-sm-8">@Model.NIM</div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3"> Angkatan </div>
            <div class="col-sm-1"> : </div>
            <div class="col-sm-8">@Model.Angkatan</div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-3"> Fakultas </div>
            <div class="col-sm-1"> : </div>
            <div class="col-sm-8">@Model.Fakultas</div>
        </div>
    </div>
}
