﻿
@{
    ViewBag.Title = "Array";
}

<h2>Array</h2>
<div>
    @for (var i =0; i < ViewBag.Array.Length; i++)
            {
                <div> Isi array ke @(i+1) = @ViewBag.Array[i] </div>
            }
</div>

