﻿
@{
    ViewBag.Title = "Dictionary";
    var dict = ViewBag.Dict as Dictionary<string, int>;
}

<h2>Dictionary</h2>
<div>
    @foreach (var i in dict)
    {
        <div> Dictionary dengan key "@i.Key" memiliki value = @i.Value</div>
    }
    <br />
    <div>
        Test untuk menggunakan key "Pertama" : @dict["Pertama"]
    </div>
</div>
