﻿
@{
    ViewBag.Title = "Hashtable";
}

<h2>Hashtable</h2>
<div>
    @foreach (var ht in ViewBag.HashTab)
    {
        <div> Hashtable dengan key @ht.Key  memiliki value @ht.Value </div>
    }
    <br />
    Cek Hashtable dengan key False : @ViewBag.HashTab[false]
</div>
