﻿@{
    ViewBag.Title = "Index";
}

<h2>Data Type</h2>
<p class="lead">Kumpulan tipe data</p>
@Html.ActionLink("Array", "Array", "DataType", null, new { @style = "text-decoration:none;color:white;background-color:grey;padding:10px 40px;border-radius:5px;" })
@Html.ActionLink("List", "List", "DataType", null, new { @style = "text-decoration:none;color:white;background-color:grey;padding:10px 40px;border-radius:5px;" })
@Html.ActionLink("Dictionary", "Dictionary", "DataType", null, new { @style = "text-decoration:none;color:white;background-color:grey;padding:10px 40px;border-radius:5px;" })
@Html.ActionLink("Hashtable", "Hashtable", "DataType", null, new { @style = "text-decoration:none;color:white;background-color:grey;padding:10px 40px;border-radius:5px;" })